{% extends 'base.html.twig' %}

{% block body %}

    <form action="{{ path('home_consultDeco') }}" method="get">
        <div class="box box-solid bg-green-gradient">
            <div class="box-header">
                <i class="fa fa-calendar"></i>
                <h3 class="box-title">Distinction Honorifique Civil</h3>

            </div><!-- /.box-header -->

        </div>
        <div class="was-validated">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="option" class="custom-control-input" value="consultation">
                <label class="custom-control-label text-primary" for="customRadioInline1"><h5>Consultation</h5></label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="option" class="custom-control-input" value="proposition">
                <label class="custom-control-label text-primary" for="customRadioInline2"><h5>Proposition</h5></label>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="2">
                                <i class="fa fa-folder-open"></i>
                            BRONZE :: âges : 25 :: Année de Sercive :  10
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="3">
                                <i class="fa fa-folder-open"></i>
                            ARGENT :: âges : 25 :: Année de Sercive :  15
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                                        <span class="radio" style="text-align: left">
                                        <input type="radio" name="mychoix" value="4">
                                            <i class="fa fa-folder-open"></i>
                                        6 HONNEURS :: âges : 25 :: Année de Sercive :  16
                                        </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                                        <span class="radio" style="text-align: left">
                                        <input type="radio" name="mychoix" value="5">
                                            <i class="fa fa-folder-open"></i>
                                        ALPHA : CHEVALIER (CH OMM)  :: âges : 40 :: Année de Sercive :  20                                        </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="6">
                                <i class="fa fa-folder-open"></i>
                            BRAVO :  OFFICIER (OFF OMM) :: âges : 45 :: Année de Sercive :  25
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="7">
                                <i class="fa fa-folder-open"></i>
                            CHARLIE : COMMANDEUR (COMM OMM)  :: âges : 50 :: Année de Sercive :  30
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>

            </div>
            <div class="col">
                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="8">
                                <i class="fa fa-folder-open"></i>
                            ALPHA : CHEVALIER (CH ONM) :: âges : 45 :: Année de Sercive :  20
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="9">
                                <i class="fa fa-folder-open"></i>
                            BRAVO : OFFICIER (OFF ONM) :: âges : 50 :: Année de Sercive :  25
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="10">
                                <i class="fa fa-folder-open"></i>
                            CHARLIE : COMMANDEUR (COMM ONM) :: âges : 54 :: Année de Sercive :  29
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="11">
                                <i class="fa fa-folder-open"></i>
                            DELTA : GRAND OFFICIER (GRAND OFF) :: âges : 57 :: Année de Sercive :  32
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>


                <div class="animated animate slideInLeft mb-4 ">
                    <label>
                        <div class="box-header with-border">
                            <span class="radio" style="text-align: left">
                            <input type="radio" name="mychoix" value="12">
                                <i class="fa fa-folder-open"></i>
                            ECHO : GRAND CROIX DE DEUXIEME CLASSE :: âges : 62 :: Année de Sercive :  37
                            </span>
                        </div><!-- /input-group -->
                    </label>
                </div>
            </div>


        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Rechercher</button>
        </div>


    </form>
{% endblock %}