{% extends 'base.html.twig' %}

{% block title %}Edit Detachement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Edit Detachement</h1>

        {{ include('detachement/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('detachement_index') }}">back to list</a>

        {{ include('detachement/_delete_form.html.twig') }}
    </div>
{% endblock %}
